<footer class="footer">
  <!-- Footer contents hidden for brevity -->
  <p>© 2023 <a href="https://manjalyc.gitlab.io/biostats-python/">Biostatistics with Python</a> | Cyriac Manjaly | Vanderbilt University</p>
</footer>
</div>

<!-- {{ if .Params.katex}}{{ partial "katex.html" . }}{{ end }} -->
{{ if or .Params.math .Site.Params.math }}
  {{ partial "math.html" . }}
{{ end }}
</body>
</html>